{% extends 'base.html' %}

{% block title %}Home - Online Payment Service{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1>Welcome, {{ user.username }}!</h1>
            <div class="alert alert-info">
                <h4>Your Balance: {{ user.currency }} {{ user.balance }}</h4>
            </div>
            <div class="d-flex justify-content-around mt-4">
                <a href="{% url 'payapp:pay' %}" class="btn btn-success">Make a Payment</a>
                <a href="{% url 'payapp:request' %}" class="btn btn-warning">Request a Payment</a>
                <a href="{% url 'payapp:transactions' %}" class="btn btn-info">View Transactions</a>
            </div>
        </div>
    </div>
{% endblock %}